@{
    ViewBag.Title = "Student List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="font-family:Arial">
    <h2>Students</h2>
    @Ajax.ActionLink("All", "All", "Home",
                                                new AjaxOptions
                                                {
                                                    HttpMethod = "GET", // HttpMethod to use, GET or POST
                                                    UpdateTargetId = "divStudents", // ID of the HTML element to update
                                                    InsertionMode = InsertionMode.Replace // Replace the existing contents
                                                })

    <span style="color:Blue">|</span>

    @Ajax.ActionLink("Top 3", "Top3", "Home",
                                                    new AjaxOptions
                                                    {
                                                        HttpMethod = "GET", // HttpMethod to use, GET or POST
                                                        UpdateTargetId = "divStudents", // ID of the HTML element to update
                                                        InsertionMode = InsertionMode.Replace // Replace the existing contents
                                                    })

    <span style="color:Blue">|</span>

    @Ajax.ActionLink("Bottom 3", "Bottom3", "Home",
                                                    new AjaxOptions
                                                    {
                                                        HttpMethod = "GET", // HttpMethod to use, GET or POST
                                                        UpdateTargetId = "divStudents", // ID of the HTML element to update
                                                        InsertionMode = InsertionMode.Replace // Replace the existing contents
                                                    })

    <br /><br />


    <div id="divStudents">  </div>

</div>
